<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Learned League Defender</title>
    <script type="text/javascript" src="static/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/jquery-ui.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $( "#username" ).val('{% if username is defined %}{{ username }}{% endif %}');
        })
    </script>
    <style media="screen">

            html {
                height: 100%;
            }
            
            body {
                overflow: hidden;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            img.background {
                width: 100%;
                height: 100%;
                position: fixed;
            }      
    </style>
    <style>
        label {
            display: inline-block;
            width: 5em;
        }       
    </style>    
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>   
    <div style="z-index:2; position:absolute; overflow:auto; top:0px; left:0px; right:0px; bottom:0px;">
        <center>
            <form name="question_form" method="post" action="score">
                <table style="width: 620px;" cellspacing="0">
                    <thead>
                        <tr class="odd">
                            <th scope="col" nowrap>Learned League Defender</th>
                            <th>User: <select id="username" name="username">
<option value="allardm">allardm</option>
<option value="atefib">atefib</option>
<option value="browers">browers</option>
<option value="cantwellc">cantwellc</option>
<option value="castleaw">castleaw</option>
<option value="castled">castled</option>
<option value="castlee">castlee</option>
<option value="chupacks">chupacks</option>
<option value="clancyc2">clancyc2</option>
<option value="craigt">craigt</option>
<option value="davisj84">davisj84</option>
<option value="delfsb">delfsb</option>
<option value="farrarn">farrarn</option>
<option value="gibsonj">gibsonj</option>
<option value="greenswags">greenswags</option>
<option value="heatond">heatond</option>
<option value="heatone">heatone</option>
<option value="hornbergerjcoyote">hornbergerjcoyote</option>
<option value="kohlerk">kohlerk</option>
<option value="langsdorfk">langsdorfk</option>
<option value="liangs">liangs</option>
<option value="lonoffd">lonoffd</option>
<option value="makd">makd</option>
<option value="morrisonm">morrisonm</option>
<option value="myersm">myersm</option>
<option value="oconnorj">oconnorj</option>
<option value="pattonr">pattonr</option>
<option value="phillipss">phillipss</option>
<option value="purtlej">purtlej</option>
<option value="schiminskid">schiminskid</option>
<option value="weingers">weingers</option>
<option value="zelenetzj">zelenetzj</option>                                                  	
                            </select></th>
                            <th>{% if auc %}Model AUC: {{ "%0.2f" % auc }}{% endif %}</th>
                            <th>Points</th>
                            <th>Ranks</th>
                            <th>Est. Prob.</th>
                        </tr>                        
                    </thead>
                    <tr class="even"><td>Q1</td><td style="text-align:left;" colspan="2"><textarea rows="4" cols="100" id="q1" name="q1">{% if questions is defined %}{{ questions[0] }}{% endif %}</textarea></td><td>{% if assigned_points is defined %}{{ assigned_points[0] }}{% endif %}</td><td>{% if ranks is defined %} {{ ranks[0] }} {% endif %}</td><td>{% if scores is defined %}{{"%0.2f" % scores[0]}}{% endif %}</td></tr>
                    <tr class="even"><td>Q2</td><td style="text-align:left;" colspan="2"><textarea rows="4" cols="100" id="q2" name="q2">{% if questions is defined %}{{ questions[1] }}{% endif %}</textarea></td><td>{% if assigned_points is defined %}{{ assigned_points[1] }}{% endif %}</td><td>{% if ranks is defined %} {{ranks[1]}} {% endif %}</td><td>{% if scores is defined %}{{"%0.2f" % scores[1]}}{% endif %}</td></tr>
                    <tr class="even"><td>Q3</td><td style="text-align:left;" colspan="2"><textarea rows="4" cols="100" id="q3" name="q3">{% if questions is defined %}{{ questions[2] }}{% endif %}</textarea></td><td>{% if assigned_points is defined %}{{ assigned_points[2] }}{% endif %}</td><td>{% if ranks is defined %} {{ranks[2]}} {% endif %}</td><td>{% if scores is defined %}{{"%0.2f" % scores[2]}}{% endif %}</td></tr>
                    <tr class="even"><td>Q4</td><td style="text-align:left;" colspan="2"><textarea rows="4" cols="100" id="q4" name="q4">{% if questions is defined %}{{ questions[3] }}{% endif %}</textarea></td><td>{% if assigned_points is defined %}{{ assigned_points[3] }}{% endif %}</td><td>{% if ranks is defined %} {{ranks[3]}} {% endif %}</td><td>{% if scores is defined %}{{"%0.2f" % scores[3]}}{% endif %}</td></tr>
                    <tr class="even"><td>Q5</td><td style="text-align:left;" colspan="2"><textarea rows="4" cols="100" id="q5" name="q5">{% if questions is defined %}{{ questions[4] }}{% endif %}</textarea></td><td>{% if assigned_points is defined %}{{ assigned_points[4] }}{% endif %}</td><td>{% if ranks is defined %} {{ranks[4]}} {% endif %}</td><td>{% if scores is defined %}{{"%0.2f" % scores[4]}}{% endif %}</td></tr>
                    <tr class="even"><td>Q6</td><td style="text-align:left;" colspan="2"><textarea rows="4" cols="100" id="q6" name="q6">{% if questions is defined %}{{ questions[5] }}{% endif %}</textarea></td><td>{% if assigned_points is defined %}{{ assigned_points[5] }}{% endif %}</td><td>{% if ranks is defined %} {{ranks[5]}} {% endif %}</td><td>{% if scores is defined %}{{"%0.2f" % scores[5]}}{% endif %}</td></tr>                                                                                                                                     
                    <tr class="even odd"><td colspan="3" style="text-align:center;"><input id="submit" name="submit" type="submit"></td></tr>
                </table>
            </form>
        </center>
    </div>
<br/>
<br/>
</body>
</html>